:root {
    --main-color: #1e88e5;
}

.user-card {
    margin-top: 10px;
    text-align: center;
}

.user-card__name {
    font-weight: bold;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    border-color: #bbb;
    box-shadow: 1px 1px 5px var(--main-color);
    margin-top: 10px;
}

.user-card__friends {
    margin-top: 20px;
    color: #354d73;
    border: 1px solid lightgrey;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px lightgrey;
}

.user-card__friends-title {
    color: #354d73;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
    font-size: 22px;
}

.user-card__friend {
    margin: 10px;
    transition: color .2s linear, background-color .2s linear;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.user-card__friend:hover {
    background-color: var(--main-color);
    color: white;
}